body{
	width: 50%;
}

#title-head{
	background-color: #349adb;
	height: 300px;
	text-align: center;
	font: normal 50px arial;
	padding-top: 35px;
	color: #fffcfe;

}

.menu{
	background-color: #2e8ac6;
	font-size: 17px;
	height: 60px;
	position: relative;
	top: 180px;

}

#home{
	width: 50px;
	position: absolute;
	top: 32%;
	left: 34%;
}

#about{
	width: 50px;
	position: absolute;
	top: 32%;
	left: 42%;
}

#gallery{
	width: 50px;
	position: absolute;
	top: 32%;
	left: 50%;
}

#contact{
	width: 50px;
	position: absolute;
	top: 32%;
	left: 59%;
}

#back-text{
	background-color: #ecf1f4;
	height: 500px;
	padding: 25px 20px 20px 20px;

}

#content-text{
	font-family: arial;
	text-align: left;
	background-color: #ffffff;
	padding: 30px 15px 15px 15px;
	color: #b7b8b8;
	
}

#title-content{
	font: normal 50px arial;
	color: #212426;
}